@import url('https://fonts.googleapis.com/css?family=Lemonada:400,600');

@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 400;
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
    url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Regular.woff) format('woff'),
    url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 700;
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
    url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Bold.woff) format('woff'),
    url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Bold.ttf) format('truetype');
}

.arabic-fonts {
    font-family: 'Droid Arabic Kufi';
}

.english-fonts {
    font-family: arial, sans-serif;
}

.top-directory {
    text-align: left;
    font-size: 12px;
}

.custom-button {
    background: transparent;
    border: none;

}

.custom-form {
    display: inline;
    padding: 0px;
    margin: 0px;
}

.custom-form button {
    padding: 0px;
}

.custom-table {
    font-family: 'Droid Arabic Kufi';
    font-weight: 700;
    font-size: 14px;
}

.document-files {
    margin-top: 10px;
    margin-bottom: 10px;
}

.document-files > li {
    text-align: center;
}

.document-files > li span {
    display: block;
}

.document-files > li .fa-trash-alt {

}

#data-destiny > thead > tr > th {
    font-size: 11px;
    font-weight: bold;

}

#data-destiny > thead > tr > th.action {
    font-family: arial, sans-serif;
}

.project-edit-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 3000;
    display: none;
    transition: ease all .6s;
}

.project-edit {
    width: 50%;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 15px;

}

.main-table {
    margin-bottom: 0;
}

.main-table tr td:nth-child(5), .main-table tr td:nth-child(4), .main-table tr td:nth-child(3) {
    width: 150px;
}

.main-table tr td:nth-child(2) {
    width: 350px;
}
.table-bordered > thead > tr{
    border: 1px solid #000000;
}
.main-table > tbody > tr > td, .main-table > tbody > tr > th, .main-table > tfoot > tr > td, .main-table > tfoot > tr > th, .main-table > thead > tr > td, .main-table > thead > tr > th {
    border-color: #000000;
    padding: 5px 10px;
    color:#000000;
}

.main-table > tbody > tr > td.child-container {
    padding: 0;
}

.main-table > thead > tr > th:first-child, .main-table > thead > tr > td:first-child, .main-table > tbody > tr > td:first-child {
    border-right: 15px solid #ffff80;
}

.main-table > tbody > tr > td > table > tbody > tr > td:first-child {
    border-right-color: #80ff80;
}
.main-table > tbody > tr > td > table > tbody > tr > td:last-child{
    border-left: 0;
}
.main-table > tbody > tr > td > table,.main-table{
    border: 0;
}

.main-table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td:first-child {
    border-right-color: #ffff00;
}

.main-table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td:first-child {
    border-right-color: #0000ff;
}

.main-table > thead > tr > th {
    background-color: #ffff80;
}

.main-table > tbody > tr:first-child > td {
    background-color: #ffff80;
}

.main-table > tbody > tr > td > table > tbody > tr:first-child > td {
    background-color: #80ff80;
}

.main-table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr:first-child > td {
    background-color: #ffff00;
}

.main-table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr:first-child > td {
    background-color: #0000ff;
    color: #ffffff;
}